body {
    background: #eeeeee;
}

canvas {
    background: #ffffff;
}
.content{
    overflow: hidden;
    width: 800px;
    margin: 60px auto;
}
.left{
    float: left;
}
.right{
    width: 400px;
    padding:0 0 0 50px ;
    float: left;
}
#Start{
    width: 240px;
    height: 44px;
    background: url(../images/fix-pag.png) no-repeat;
}
.box{
    width: 190px;
    height: 45px;
    margin-top: 10px;
    margin-left: 60px;
    overflow: hidden;
}
#Pause{
    width: 45px;
    height: 45px;
    float: left;
    background:url(../images/fix-pag.png) 0 -45px no-repeat; ;
}
#Continue{
    width: 45px;
    height: 45px;
    float: left;
    margin-left: 30px;
    background:url(../images/fix-pag.png) -45px -45px no-repeat; ;
}
.prompt{
    width: 240px;
    height: 96px;
    line-height: 50px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}
.prompt .ico_c_arrows {
    display: inline-block;
    height: 96px;
    width: 150px;
    background:url(../images/icon-keyboard.png) no-repeat;
}
.snakescore{
    height: 60px;
    font: normal 600 18px/60px "Microsoft Yahei" ;
}